{% extends 'hod_template/base_template.html' %}
{% block page_title %}Add Subject{% endblock page_title %}
{% block title %}Add subject{% endblock title %}

{% block content %}

    <div class="col-6 mx-auto">
            <div class="card card-primary">


                        <div class="card-header">
                            <h3 class="card-title">Add subject </h3>
                        </div>

                        <div class="row">
       
                            {% if messages %}
                            {% for message in messages  %}
                            {% if message.tags == 'error' %}
                              <div class="col-10 mt-3 mx-auto">
                                <span  class="alert alert-danger d-block text-center" style="width: 100%;">{{ message }}</span>
                              </div>
                            {% elif message.tags == 'success' %}
                                <div class="col-10 mx-auto mt-3">
                                    <span  class="alert alert-success d-block text-center" style="width: 100%;">{{ message }}</span>
                                </div>
                            {% endif %}
                            {% endfor %}
                              
                            {% endif %}
                          </div>

                        <form role="form" action="/add_subject_save" method="POST">
                            {% csrf_token %}

                          
                            <div class="card-body">
                    

            

                            <div class="form-group">
                                <label >Subject Name</label>
                                <input type="text" class="form-control" id="exampleInputtext1" name="subject_name" placeholder="Enter Subject Name">
                            </div>

                            <div class="form-group">
                               <label >Courses</label>
                               <select name="course" class="form-control">
                                   {% for course in courses  %}
                                        <option value="{{ course.id}}">{{course.course_name}}</option>
                                   {% endfor %}
                               </select>
                            </div>

                            <div class="form-group">
                               <label >Teacher</label>
                               <select name="staff_name" class="form-control">
                                   {% for staff in staffs  %}
                                        <option value="{{ staff.id}}">{{staff.first_name}} {{staff.last_name}}</option>
                                   {% endfor %}
                               </select>
                            </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Add Subject</button>
                            </div>
                        </form>
            </div> 
    </div>

{% endblock content %}