{% extends 'hod_template/base_template.html' %}
{% block page_title %}Manage Subjects{% endblock page_title %}
{% block title %}Manage Subjects{% endblock title %}

{% block content %}

<div class="col-10 mx-auto">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
            <tr>
                <th>ID</th>
                <th>Subject Name</th>
                <th>Course Name</th>
                <th>Teacher's Name</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{subject.subject_name}}</td>
                    <td>{{subject.course_id.course_name}}4</td>
                    <td>{{subject.staff_id.first_name}} {{subject.staff_id.last_name}}</td>
                    <td>{{subject.created_at}}</td>
                    <td>{{subject.updated_at}}</td>
                    <td><a href="edit_subject/{{subject.id}}"><button class="btn btn-primary btn-sm">Edit</button></a></td>
                </tr>
            {% endfor %}
         
            </tbody>
        </table>
    </div>
</div>

   

{% endblock content %}

