{% extends 'deo_template/base_template.html' %}
{% block page_title %}School Details{% endblock page_title %}
{% block title %}School Details{% endblock title %}

{% block content %}

    <div class="col-6 mx-auto">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    School Details
                </a>
                <a href="/show_staffs/{{school.school_name}}" class="list-group-item list-group-item-action">Teachers</a>
                <a href="/class_streem/{{school.school_name}}" class="list-group-item list-group-item-action">Students</a>
                </div>
            </div>
            </div>

{% endblock content %}

