{% extends 'student_template/base_template.html' %}
{% block page_title %}View Attendance{% endblock page_title %}
{% block custom_css %}
<style>

</style>
  
{% endblock custom_css %}
{% block title %}View Attendance{% endblock title %}

{% block content %}

    <div class="col-12 mx-auto">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">View Attendance</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    {% for attendance_report in attendance_reports %}
                      <div {% if attendance_report.status == False  %} class="col-md-3 border  bg-danger" {% else %} class="col-lg-3 border   bg-success" {% endif %}  >
                          <b>Date: {{attendance_report.attendance_id.attendance_date}}</b>
                          <br>
                          {% if attendance_report.status == True %}
                           <b>[ status : Present ]</b> 
                          {% else %}
                          <b class="">[ status : Absent ]</b> 
                          {% endif %}
                          
                      </div>
                    {% endfor %}
                </div>
            </div>
                
        </div> 
    </div>

{% endblock content %}
