<form role="form" action="{{ action_path }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        {% if messages %}
          {% for message in messages %}

            {% if message.tags == 'error' %}
              <div class="alert alert-danger">{{message}}</div>
            {% endif %}

            {% if message.tags == 'success' %}
            <div class="alert alert-success">{{message}}</div>
            {% endif %}

          {% endfor %}
        {% endif %}
    </div>
    {% csrf_token %}
    <div class="card-body">
        {% for field in form %}
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
        {% endfor %}
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">{{button_text}}</button>
    </div>
</form>