{% extends 'staff_template/base_template.html' %}
{% block page_title %}Update Attendance{% endblock page_title %}
{% block title %}Update Attendance{% endblock title %}

{% block content %}

    <div class="col-6 mx-auto">
            <div class="card card-primary">


                        <div class="card-header">
                            <h3 class="card-title">Update attendance</h3>
                        </div>

                        <form role="form"  method="POST">
                            {% csrf_token %}

                            <div class="card-body">
                
                                <div class="form-group">
                                <label >Subject: </label>
                                <select name="subject" id="subject" class="form-control">
                                    {% for subject in subjects  %}
                                            <option value="{{subject.id}}">{{subject.subject_name}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            
                                <div class="form-group">
                                    <label >Session Year: </label>
                                    <select name="session_year" id="session_year" class="form-control">
                                        {% for session_year in session_years %}
                                                <option value="{{session_year.id}}">{{session_year.session_start_year}} TO {{session_year.session_end_year}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group" id='attendace_block'>
                                    <select name="attendance_date" id="attendance_date" class="form-control">
                                        
                                    </select>
                                </div>

                        
                                    <div class="form-group">
                                        <div class="alert alert-danger" style="display: none;" id="error_attendance">
    
                                        </div>
                                    </div> 
                       

                                

                            </div>
                            <!-- /.card-body -->
                          
                          

                            <div class="card-footer">
                                <button  id="fetch_attendance" class="btn btn-primary btn-block">Fetch Attendance</button>
                            </div>

                            <div class="card-footer">
                                <button  id="fetch_student" class="btn btn-primary btn-block">Fetch Student</button>
                            </div>

                            <div  id="student_data">

                            </div>

                            
                        </form>
            </div> 
    </div>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        $("#fetch_student").click(function (e) {  
            e.preventDefault()
    
            var attendance_date = $("#attendance_date").val()

            $.ajax({
                url: '{% url "get_attendance_student" %}',
                type: 'POST',
                data:{
                    attendance_date: attendance_date
                },
            })

            .done(function(response){
                var json_data = JSON.parse(response)
                console.log(response)

                div_data = '<div class="form-group ml-3"><label>Student Attendance: </label></div>\
                            <div class="form-group">\
                            <div class="row">'
        

                for(key in json_data){
                    div_data+='<div class="col-lg-9 ml-3 border"><div class="form-check">\
                               <input type="checkbox"';

                    if(json_data[key]['status']){
                        div_data+="checked='checked'"
                    }else{
                        div_data+=""
                    }
                    div_data+="name='student_data[]' value='"+json_data[key]['id']+"'><label class='form-check-label'>"+json_data[key]['name']+"</label></div></div>"

                    if(json_data[key]['status']){
                        div_data+="<div class ='col-lg-2'><b>[ present ]</b></div>"
                    }else{
                        div_data+="<div class ='col-lg-2 text-danger'><b>[ Absent ]</b></div>"
                    }
                }
                div_data+="</div></div>"
                div_data+="<div class='form-data'>"
                div_data+="<button id='save_attendance' class='btn btn-success btn-block' type='button'>save Attendance</button>"
                div_data+="</div>"
                
                $("#student_data").html(div_data)
            })

            .fail(function(){
                alert(" Error in Fetching student")
            })
        })

        $("#fetch_attendance").click(function (e) {  
            e.preventDefault()
            var subject = $("#subject").val()
            var session_year_id = $("#session_year").val()

            $.ajax({
                url: '{% url "get_attendance_dates" %}',
                type: 'POST',
                data:{subject:subject, session_year_id:session_year_id},
            })

            .done(function(response){
              var json_data = JSON.parse(response)
              console.log(json_data)
              if(json_data.length>0){
                var html_data=""
                for(key in json_data){
                    html_data+= "<option value='"+json_data[key]['id']+"'>"+json_data[key]['attendace_date']+"</option>"
                }
                $("#error_attendance").html("")
                $("#error_attendance").hide()

                $("#attendace_block").show()
                $("#attendance_date").html(html_data) 
              }else{
                $("#error_attendance").html("No Attendance data found")
                $("#error_attendance").show()

                $("#attendace_block").hide()
                $("#attendance_date").html("") 
              }
             
            })

            .fail(function(){
                alert(" Error in Fetching student")
                $('#error_attendance').html("")
                $("#attendace_block").hide() 
            })
        })
        
        
        $(document).on("click", "#save_attendance", function(){

            $(this).attr("disabled", "disabled")
            $(this).attr("Saving Attendance Data ...")


            var student_data = $("input[name='student_data[]']").map(function(){
                if($(this).is(":checked")){
                    return {"id":$(this).val(), "status":1}
                }else{
                    return {"id":$(this).val(), "status":0}
                }
               
            }).get()

            var attendance_date = $("#attendance_date").val()
            var subject_id = $("#subject").val()
            var session_year_id = $("#session_year").val()

            

            student_data=JSON.stringify(student_data)

            $.ajax({
                url: '{% url "save_updateattendance_data" %}',
                type: 'POST',
                data:{
                    student_ids:student_data, 
                    attendance_date:attendance_date,
                    subject_id:subject_id,
                    session_year_id: session_year_id
                },
            })

            .done(function(response){
               if(response == "OK"){
                   alert("Attendance Save")
               }else{
                   alert("Error in Saving data")
               }
               location.reload()
            })

            .fail(function(){
                alert("Error in Fetching student")
            })
        })
    })
</script>
{% endblock custom_js %}