{% extends 'deo_template/base_template.html' %}
{% block page_title %}School Details{% endblock page_title %}
{% block title %}School Details{% endblock title %}

{% block content %}

    <div class="col-6 mx-auto">
            <div class="card card-primary">
            <ul>
                <li>
                    Teachers List
                </li>

                <li>
                    Students List
                </li>
            </ul>
            </div> 
    </div>

{% endblock content %}

